<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="amethyst.mapper.RoleDeptMapper">
    <resultMap id="RoleDeptResult" type="RoleDept" >
        <id column="role_id" property="roleId"/><!-- 角色ID -->
        <id column="dept_id" property="deptId"/><!-- 部门ID -->
    </resultMap>

    <sql id="selectRoleDeptVo">
        select role_id,dept_id from sys_role_dept
    </sql>

    <select id="selectRoleDeptList" parameterType="RoleDept" resultMap="RoleDeptResult">
        <include refid="selectRoleDeptVo"/>
        <where>
            <if test="roleId != null"> and role_id = #{roleId}</if>
            <if test="deptId != null"> and dept_id = #{deptId}</if>
        </where>
    </select>

    <select id="selectRoleDeptById" parameterType="Long" resultMap="RoleDeptResult">
        <include refid="selectRoleDeptVo"/>
        where role_id = #{roleId}
    </select>

    <insert id="insertRoleDept" parameterType="RoleDept">
        insert into sys_role_dept
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null"> role_id,</if>
            <if test="deptId != null"> dept_id,</if>
        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleId != null"> #{roleId},</if>
            <if test="deptId != null"> #{deptId},</if>
        </trim>
    </insert>
    
    <update id="updateRoleDept" parameterType="RoleDept">
        update sys_role_dept
        <trim prefix="SET" suffixOverrides=",">
            <if test="deptId != null ">dept_id = #{deptId},</if>
        </trim>
        where role_id = #{roleId}
    </update>

    <delete id="deleteRoleDeptById" parameterType="Long">
        delete from sys_role_dept where role_id = #{roleId}
    </delete>
    
    <delete id="deleteRoleDeptByIds" parameterType="String">
        delete from sys_role_dept where role_id in
        <foreach item="roleId" collection="array" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </delete>

</mapper>